//FRONT PAGE
* {
  margin: 0;
  padding: 0;
}

.allinc {
  background-image: url(./background.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
}

#nav-mobile {
  margin-top: 20px;
}
.navclass {
  background-color: transparent;
  box-shadow: 0 0 0 0;
}

.logo .logoimg {
  margin-top: 13px;
  margin-left: 0px;
  // width: 130px;
  // height: auto;
  float: left;
}

body {
  font-family: monospace;
}

.hero {
  // position: absolute;
  // width: 1200px;
  margin-left: auto;
  margin-top: auto;
}

h1 {
  color: #f3b816;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  margin-top: 50px;
}

.buttons {
  // display: inline-block;
  height: 38px;
  padding: 0 30px;
  color: #555;
  text-align: center;
  font-size: 11px;
  font-weight: 600;
  height: 36px;
  line-height: 36px;
  letter-spacing: .1rem;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid #bbb;
  cursor: pointer;
  box-sizing: border-box; 
  margin: 13px;
}

.buttons:hover {
  background-color: #f3b816;
}

//MODALS
.modsbg {
  background-color: #FFB54D;
}

.modal {
  border-radius: 5px;
  background-color: #FFB54D;
}

.modal .modal-content {
  background-color: #FFB54D;
  box-shadow: none;
  border: 0px;
  border-bottom: 0px;
  padding-bottom: 0px;
}

.modal .modal-footer {
  border-top: 0px;
  padding-top: 0px;
  border-radius: 5px;
  border: 0px;
  background-color: #FFB54D;
}

.modal h4 {
  margin-bottom: 30px
}

form {
  margin-bottom: 2.5rem; }
  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    height: 38px;
    padding: 6px 10px; /* The 6px vertically centers text on FF, ignored by Webkit */
    background-color: #fff;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    box-shadow: none;
    box-sizing: border-box;
    margin-bottom: 1rem; }

label {
  font-size: 1rem;
  color: black;
}

.btnfrm {
  margin:auto;
  display:block;
}

input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]) {
  border-bottom:#FF884D;
  box-shadow: 0 1px 0 0 #FF884D;
}

// img {
//   border-radius: 4px;
//   height: auto;
// }

// .carousel .carousel-item img {
//   width: 200%;
// }

// .caro {
//   // margin-top: 140px;
//   height: 700px;
//   // width: 140%;
// }

// .shadowz {
//   border-radius: 8px;
// }

@media screen and (max-width:959px) {
  
}